<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: black; margin-left: 20%;">
    
<h1 style="color:antiquewhite">Rendering with express.static </h1>

<img style="width: 50%; height: 50%; margin:auto;" src="http://www.thewowstyle.com/wp-content/uploads/2015/01/nature-images..jpg"/>

</body>
</html>